[Bb]in/
[Oo]bj/

*.baml
*.g.cs
*.g.i.cs
*.wpftmp.*
*~.xaml

*.nuget.props
*.nuget.targets
.nuget/
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
packages/

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

Thumbs.db
ehthumbs.db
.DS_Store
*.log
*.trx
TestResults/